body{
    background-image: url("images/skin-3052636_1920.jpg");  
}
.game-container{
    background-color: wheat;
    width: 600px;
    margin: 0 auto;
    padding: 5px;
}
h1 {
    margin: 20;
    text-align: center;
    background-color: lightsalmon;
    color: green;
    padding: 15px;
    border: solid 5px burlywood;
    box-shadow: 3px 3px 5px 6px #ccc;
        
}

.snake-grid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: thistle;
    border: solid 5px black;
    margin: auto auto;
}
.game-control {
    background-color: tomato;
    margin: auto auto;
    width: 400px;
    text-align: center;
    padding: 5px 0;
}

.snake-grid div {
    width: 40px;
    height: 40px;
    
}

.snake {
    background-color: greenyellow;
    
}

.apple {
    background-image: url("images/apple.jfif");
    
    background-size: 40px 40px;
}
.bomb {
    background-image: url("images/bomb.jpg");
    
    background-size: 40px 40px;
}
.lost{
    display: none;
}
.lost-design{
    color: darkred;
    font-size: 30px;
    text-align: center;
}

.start:hover{
    background-color: darkcyan;
    
}
